@using Microsoft.AspNetCore.Mvc.RazorPages
@using PostApp.Core.Application.DTOs.Account
@using PostApp.Core.Application.ViewModels.Comments
@using PostApp.Core.Application.ViewModels.Posts;
@using PostApp.Core.Application.ViewModels.Users;
@model List<PostViewModel>;

@{
	ViewData["Title"] = "Friends";
	AuthenticationResponse user = ViewBag.User;
	List<UserViewModel> friends = ViewBag.Friends;
}

<div class="row">

	<div class="col-12 col-md-8 col-lg-6 offset-lg-3">

		@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
		{
			<div class="alert alert-@(ViewBag.HasError ? "danger" : "primary") alert-dismissible fade show" role="alert">
				<h5>@ViewBag.Message</h5>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		}

		<div class="d-flex justify-content-end mb-3">
			<button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal-add-friend">Add Friend</button>
		</div>

		<!-- Modal Add Friend -->
		<div class="modal fade" id="modal-add-friend" tabindex="-1" aria-labelledby="modal-add-friend-label" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title">Add Friend</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>

					<form method="post" asp-controller="Friend" asp-action="Create">
						<div class="modal-body">

							<div class="mb-3">
								<label for="search-friend">Username:</label>
								<input type="text" name="username" id="search-friend" class="form-control pe-4" placeholder="Username" required />
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-success">Add</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		@* Post List *@
		@if(Model.Any())
		{
			@foreach (var post in Model)
			{
				<article class="card mb-3" id="@post.Id">
					<!-- Card header START -->
					<div class="card-header border-0 pb-0 bg-white">
						<div class="d-flex align-items-center justify-content-between">
							<div class="d-flex align-items-center mt-2">
								<!-- Avatar -->
								<div class="me-2">
									<img class="profile-img rounded-circle" src="@post.User.ImageUrl" alt="@post.User.UserName" title="@post.User.UserName" />
								</div>
								<!-- Info -->
								<div>
									<h6 class="nav-item card-title mb-0"> @post.User.UserName </h6>
								</div>
							</div>

							<div>
								<span class="nav-item small ms-1">@post.Created</span>
							</div>
						</div>
					</div>
					<!-- Card header END -->
					<!-- Card body START -->
					<div class="card-body">
						<p>@post.Message</p>

						<!-- Card img -->
						@if (post.ImageUrl != null)
						{
							<img class="card-img" src="@post.ImageUrl" alt="Post">
						}
						else if (post.VideoUrl != null)
						{
							<iframe height="450" class="card-img" src="@post.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						}

						<!-- Add comment -->
						<div class="d-flex my-3">
							<!-- Avatar -->
							<div class="avatar me-2">
								<img class="profile-img rounded-circle" src="@user.ImageUrl" alt="@user.UserName" title="@user.UserName" />
							</div>
							<!-- Comment box  -->
							<form class="nav nav-item w-100 position-relative" asp-controller="Comment" asp-action="Create" asp-route-location="Friend">
								
								<input type="hidden" name="PostId" value="@post.Id" />
								<input type="hidden" name="Parent" value="-1" />
								<input type="hidden" name="UserId" value="@user.Id" />

								<input type="text" class="form-control pe-5 bg-light" name="Content" placeholder="Add a comment..." maxlength="100" />

								<button type="submit" class="nav-linkbg-transparent bg-transparent px-3 position-absolute top-50 end-0 translate-middle-y border-0 h-100">
									<i class="bi bi-send"> </i>
								</button>
							</form>
						</div>
						
						<!-- Comment wrap START -->
						<ul class="list-unstyled">
							@foreach (var comment in post.Comments.Where(comment => comment.Parent == -1))
							{
								<!-- Comment item START -->
								<li class="comment-item mb-3">
									<div class="d-flex position-relative">
										<!-- Avatar -->
										<div class="">
											<img class="profile-img rounded-circle" src="@comment.User.ImageUrl" alt="@comment.User.UserName" title="@comment.User.UserName" />
										</div>
										<div class="ms-2">
											<!-- Comment by -->
											<div class="bg-light rounded-start-top-0 p-3 rounded">
												<div class="d-flex justify-content-between">
													<h6 class="mb-1">@comment.User.UserName </h6>
													<small class="ms-2">@comment.Created</small>
												</div>
												<p class="small mb-0">@comment.Content</p>
											</div>
											
											@if (post.Comments.Any(c => c.Parent == comment.Id))
											{
												await GetReplies(comment.Id, post.Comments.FindAll(c => c.Parent == comment.Id).ToList(), post.Comments, user);
											}

											<!-- Comment react -->
											<buttton class="text-muted small" type="button" data-bs-toggle="collapse" data-bs-target="#@($"reply-{comment.Id}")" aria-expanded="false" aria-controls="@($"reply-{comment.Id}")">Reply</buttton>

										</div>
									</div>

									<!-- Collapse -->
									<div class="collapse" id="@($"reply-{comment.Id}")">
										<!-- Add comment -->
										<div class="d-flex mt-2">
											<!-- Avatar -->
											<div class="avatar me-2">
												<img class="profile-img rounded-circle" src="@user.ImageUrl" alt="@user.UserName" title="@user.UserName" />
											</div>
											<!-- Comment box  -->
											<form class="nav nav-item w-100 position-relative" asp-controller="Comment" asp-action="Create" asp-route-location="Friend">

												<input type="hidden" name="PostId" value="@post.Id" />
												<input type="hidden" name="Parent" value="@comment.Id" />
												<input type="hidden" name="UserId" value="@user.Id" />

												<input type="text" class="form-control pe-5 bg-light" name="Content" placeholder="Add a comment..." maxlength="100" />

												<button type="submit" class="nav-linkbg-transparent bg-transparent px-3 position-absolute top-50 end-0 translate-middle-y border-0 h-100">
													<i class="bi bi-send"> </i>
												</button>
											</form>
										</div>
									</div>
								</li>
								<!-- Comment item END -->
							}
						</ul>
						<!-- Comment wrap END -->
					</div>
					<!-- Card body END -->
				</article>
			}
		}
		else
		{
			<div class="card">
				<div class="card-header border-0 pb-0 bg-white text-center">
					<h4 class="text-muted">There are not post registered yet!</h4>
				</div>
			</div>
		}		
	</div>

	<!-- Friends -->
	<div class="col-12 col-md-4 col-lg-3">
		<div class="card sticky-column">
			<!-- Card header START -->
			<div class="card-header pb-0 border-0 bg-white">
				<h5 class="card-title mb-0">Friends</h5>
			</div>
			<!-- Card header END -->
			<!-- Card body START -->
			<div class="card-body">

				@* Friends List *@
				@if (friends.Any())
				{
					@foreach (var friend in friends)
					{
						<!-- Connection item START -->
						<div class="hstack gap-2 mb-3">
							<!-- Avatar -->
							<div class="avatar">
								<img class="profile-img rounded-circle" src="@friend.ImageUrl" alt="@friend.UserName" title="@friend.UserName" />
							</div>
							<!-- Title -->
							<div class="overflow-hidden">
								<p class="h6 mb-0 pt-1">@friend.UserName</p>
								<p class="mb-0 small text-muted">@friend.FirstName @friend.LastName</p>
							</div>

							<div class="ms-auto">
								<!-- Form -->
								<form asp-controller="Friend" asp-action="Delete">
									<input type="hidden" name="FriendId" value="@friend.Id" />
									<button type="submit" class="btn btn-outline-danger rounded-circle icon-md" title="Remove Friend"><i class="bi bi-person-x-fill"> </i></button>
								</form>
							</div>
						</div>
						<!-- Connection item END -->
					}
				}
				else
				{
					<div class="pb-0 bg-white text-center">
						<h5 class="text-muted">There are not friends registered yet!</h5>
						<button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal-add-friend">Add Friend</button>
					</div>
				}
			</div>
			<!-- Card body END -->
		</div>
	</div>
</div>

@functions{
	async Task GetReplies(int commentId, List<CommentViewModel> childComments, List<CommentViewModel> allComments, AuthenticationResponse user)
	{
		<!-- Comment wrap START -->
		<ul class="list-unstyled my-2">
			@foreach (var reply in childComments)
			{
				<!-- Comment item START -->
				<li class="comment-item">
					<div class="d-flex position-relative">
						<!-- Avatar -->
						<div class="">
							<img class="profile-img rounded-circle" src="@reply.User.ImageUrl" alt="@reply.User.UserName" title="@reply.User.UserName" />
						</div>
						<div class="ms-2">
							<!-- Comment by -->
							<div class="bg-light rounded-start-top-0 p-3 rounded">
								<div class="d-flex justify-content-between">
									<h6 class="mb-1">@reply.User.UserName </h6>
									<small class="ms-2">@reply.Created</small>
								</div>
								<p class="small mb-0">@reply.Content</p>
							</div>

							@if (allComments.Any(comment => comment.Parent == reply.Id))
							{
								await GetReplies(reply.Id, allComments.Where(comment => comment.Parent == reply.Id).ToList(), allComments, user);
							}

							<!-- Comment react -->
							<buttton class="text-muted small" type="button" data-bs-toggle="collapse" data-bs-target="#@($"reply-{reply.Id}")" aria-expanded="false" aria-controls="@($"reply-{reply.Id}")">Reply</buttton>

						</div>
					</div>

					<!-- Collapse -->
					<div class="collapse" id="@($"reply-{reply.Id}")">
						<!-- Add comment -->
						<div class="d-flex my-3">
							<!-- Avatar -->
							<div class="avatar me-2">
								<img class="profile-img rounded-circle" src="@user.ImageUrl" alt="@user.UserName" title="@user.UserName" />
							</div>

							<!-- Comment box  -->
							<form class="nav nav-item w-100 position-relative" asp-controller="Comment" asp-action="Create" asp-route-location="Friend">

								<input type="hidden" name="PostId" value="@reply.PostId" />
								<input type="hidden" name="Parent" value="@reply.Id" />
								<input type="hidden" name="UserId" value="@user.Id" />

								<input type="text" class="form-control pe-5 bg-light" name="Content" placeholder="Add a comment..." maxlength="100" />

								<button type="submit" class="nav-linkbg-transparent bg-transparent px-3 position-absolute top-50 end-0 translate-middle-y border-0 h-100">
									<i class="bi bi-send"> </i>
								</button>
							</form>
						</div>
					</div>
				</li>
				<!-- Comment item END -->
			}
		</ul>
		<!-- Comment wrap END -->
	}
}